[submodule "Haptics/haptics_common"]
	path = Haptics/haptics_common
	url = https://github.com/WheelSims/haptics_common
[submodule "Unity/Assets/vr_assets_common"]
	path = Unity/Assets/vr_assets_common
	url = https://github.com/WheelSims/vr_assets_common.git
