[submodule "Unity/Assets/vr_temp_dynamic_objects"]
	path = Unity/Assets/vr_temp_dynamic_objects
	url = https://github.com/WheelSims/vr_temp_dynamic_objects.git
[submodule "Unity/Assets/vr_user"]
	path = Unity/Assets/vr_user
	url = https://github.com/WheelSims/vr_user.git
[submodule "Haptics/haptics_common"]
	path = Haptics/haptics_common
	url = https://github.com/WheelSims/haptics_common
